* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: coumn;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  widht: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: center;
  align-item: center;
  background-color: #333;
  padding: 10px 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li{
  margin-left: 20px;
}

.navbar ul li a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar ul li a.active,
.navbar ul li a:hover {
  color: #ffd700;
}

main {
  flex: 1;
  padding: 100px 20px 20px;
}
